<ng-form name="sfIn">
<div
        class="form-group"
        ng-class="{ 'has-error' : sfIn.{{field.nameClass}}.$invalid && !sfIn.{{field.nameClass}}.$pristine }"
        >
    <label for="{{field.nameClass+index}}">{{field.placeholder}}</label>
    <input type="email"
           id="{{field.nameClass+index}}"
           name="{{field.nameClass}}"
           class="form-control sfIn-input-email"
           ng-change="onChange()"
           ng-keypress="onChange()"
           ng-required="field.isRequired"
           ng-model="field.value"
           ng-pattern="/^[a-z]+[a-z0-9._]+@[a-z]+\.[a-z.]{2,5}$/"
           placeholder="{{field.placeholder}}"/>

    <div ng-show="!sfIn.{{field.nameClass}}.$pristine">
        <p class="error" ng-show="sfIn.{{field.nameClass}}.$error.required">The field is required.</p>

        <p class="error" ng-show="sfIn.{{field.nameClass}}.$invalid">The field is not a valid email.</p>
    </div>
</div>
</ng-form>